@mixin button($textColor: $white-color, $backgroundColor: $secondary-color) {
    display: inline-block;
    width: fit-content;
    padding: .75rem 1rem;
    border-radius: .4rem;
    background: $backgroundColor;
    color: $textColor;
    cursor: pointer;
    transition: all 400ms ease ;

    &:hover{
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgba($color: $black-color, $alpha: .15) ;    
    }
    }
    @mixin  gradientBackground {
        background: linear-gradient(135deg,$primary-color,$primary-color-variant);
        color: $white-color;
        
    }
    h1,h2,h3,h4,h5{
        color: $white-color;
    }

    
 