 #services{
    #my-id {
        color: rgba(0, 0, 0, 0.686);
      }
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;

        article{
            @include gradientBackground;
            padding: 1.5rem;
            border-radius: 1rem;
            display: flex;
            gap: 1.5rem;
            height: fit-content;
            transition: all 400ms ease;

            &:hover{
                margin-top: -.5rem;
            }
            i{
                font-size: 1.5rem;
            }
            div{
                h4{
                    margin-bottom: 1rem;
                }
            }
        }
    }
 }